fastapi~=0.115.11
pytz~=2025.1
pydantic-settings~=2.8.1
uvicorn~=0.34.0
pydantic~=2.10.6
langchain~=0.3.20
langchain-openai~=0.3.8
typing_extensions~=4.12.2
httpx~=0.28.1
python-dateutil~=2.9.0.post0
langchain-core~=0.3.43
langgraph~=0.3.5
game_sdk